body {
   background-color: lightblue;
   font-family: "Times New Roman", Times, serif;
   color: red;
   border-style: solid;
   border-width: medium;
}

#content {
     margin-left: 130px;
	 margin-right: 130px;
}
